/* State Styles */
.state-common-style {
  display: grid;
  place-items: center;
  gap: 0.6rem;

  padding: 1rem;

  margin-bottom: 2rem;

  transition: all 0.3s linear;
}
.state-common-style:hover {
  box-shadow: 0px 0px 30px #5552e8;
}
.state-common-style div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

/* useState() */
.use-state {
  border: 2px solid beige;
}

/* useEffect() */

.use-effect {
  border: 2px solid salmon;
}

.dimensions {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.dimensions h3 {
  margin: 0;
}
