/* State Styles */
.state-common-style {
  display: grid;
  place-items: center;
  gap: 0.6rem;

  padding: 1rem;

  margin-bottom: 2rem;
}
.state-common-style div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

/* useState() */
.use-state {
  border: 2px solid beige;
}

/* useEffect() */

.use-effect {
  border: 2px solid salmon;
}
